{% extends 'base.html' %} {% block title %}Sign Up{% endblock %} {% block
content %}

<form method="post">
  <h3 align="center">Sign Up</h3>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="johndoe@example.com"
    />
  </div>
  <div class="mb-3">
    <label for="firstName" class="form-label">First Name</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      placeholder="John"
    />
  </div>
  <div class="mb-3">
    <label for="lastName" class="form-label">Last Name</label>
    <input
      type="text"
      class="form-control"
      id="lastName"
      name="lastName"
      placeholder="Doe"
    />
  </div>
  <div class="mb-3">
    <label for="password1" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Enter Password"
    />
  </div>
  <div class="mb-3">
    <label for="password2" class="form-label">Confirm Password</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Re-enter Password"
    />
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Sign up</button>
  </div>
</form>

{% endblock %}
